.App {
  text-align: center;
  background-color: rgb(89, 89, 112);
  color: rgb(34, 34, 56);
}

h1 {
  background-color: rgb(137, 137, 159);
  padding: 0.5em;
  margin: 0;
}

.add {
  background-color: rgb(34, 34, 56);
  color: rgb(186, 220, 243);
  padding: 2em;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
}

.list ul li {
  list-style: none;
  flex: 0 0 33.333333%;
}

.form {
  margin: 1em 0.35em;
}

.names {
  background-color: rgb(186, 220, 243);;
  padding: 0.15em;
  margin: 1em;
}